.button {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: end;
  cursor: pointer;
  padding: 0;
  border-radius: 8px;
  transition: 0.25s;
}

.burger {
  position: relative;
  margin-left: 30px;
  border: 0;
  width: 100%;
}

.burger,
.burger::before,
.burger::after {
  display: block;
  border-radius: 2px;
  height: 2px;
  background: #f9f9f9;
  transition: 0.3s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.burger::before {
  top: -8px;
}

.burger::after {
  top: 8px;
}

/* burger-6 */

.ham {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.burger-6.is-closed.hamRotate {
  transform: rotate(45deg) scale(0.9);
}

.line {
  fill: none;
  transition: 0.4s;
  stroke: #fdf7e4;
  stroke-width: 3;
  stroke-linecap: round;
  
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.burger-6.is-closed.ham1 .top {
  stroke-dashoffset: -98px;
}
.burger-6.is-closed.ham1 .bottom {
  stroke-dashoffset: -138px;
}
